# --------------------------------------------------
# Database
# --------------------------------------------------

DATABASE_URL=postgresql://${postgres_vaultwarden_username}:${postgres_vaultwarden_password}@postgres.internal.home.hovirix.dev/vaultwarden

# --------------------------------------------------
# Push Notifications
# --------------------------------------------------

PUSH_ENABLED=true
PUSH_INSTALLATION_ID=${vaultwarden_installation_id}
PUSH_INSTALLATION_KEY=${vaultwarden_installation_key}
PUSH_RELAY_URI=https://api.bitwarden.eu
PUSH_IDENTITY_URI=https://identity.bitwarden.eu

# --------------------------------------------------
# General settings
# --------------------------------------------------

DOMAIN=https://vaultwarden.home.hovirix.dev
SIGNUPS_ALLOWED=false
