[Container]
Image=ghcr.io/dani-garcia/vaultwarden@sha256:43498a94b22f9563f2a94b53760ab3e710eefc0d0cac2efda4b12b9eb8690664

EnvironmentFile=./vaultwarden.env

Network=host

Volume=/var/lib/app-data/vaultwarden:/data:Z

[Service]
MemoryMax=512M
TasksMax=1024
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
