[Container]
Image=ghcr.io/dani-garcia/vaultwarden@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b

Environment=PUSH_ENABLED=true
Environment=PUSH_RELAY_URI=https://api.bitwarden.eu
Environment=PUSH_IDENTITY_URI=https://identity.bitwarden.eu
Environment=DOMAIN=https://vaultwarden.home.hovirix.dev
Environment=SIGNUPS_ALLOWED=false

Secret=postgres_vaultwarden_username,type=env,target=DB_USERNAME
Secret=postgres_vaultwarden_password,type=env,target=DB_PASSWORD
Secret=vaultwarden_installation_id,type=env,target=PUSH_INSTALLATION_ID
Secret=vaultwarden_installation_key,type=env,target=PUSH_INSTALLATION_KEY

Network=host

Volume=/var/lib/app-data/vaultwarden:/data:Z

[Service]
MemoryMax=512M
TasksMax=1024
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
