smtp: hxlab-smtp
        mailto homelab@hovirix.dev
        from-address proxmox@hovirix.dev
        username {{ infrastructure_secrets.smtp.user }}
        server {{ infrastructure_secrets.smtp.host }}
        port {{ infrastructure_secrets.smtp.port }}
        mode starttls
        comment Managed by Ansible

matcher: hxlab-alerts
        match-severity warning,error
        target hxlab-smtp
        comment Managed by Ansible
