# --------------------------------------------------
# Required services
# --------------------------------------------------

# Redis broker
PAPERLESS_REDIS=redis://valkey.internal.home.hovirix.dev:6379/1

# Database
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBHOST=postgres.internal.home.hovirix.dev
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=${postgres_paperless_username}
PAPERLESS_DBPASS=${postgres_paperless_password}

# --------------------------------------------------
# Hosting & Security
# --------------------------------------------------

PAPERLESS_SECRET_KEY=${paperless_secret_key}

# Authentication & SSO
PAPERLESS_SOCIALACCOUNT_PROVIDERS=${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
PAPERLESS_SOCIAL_AUTO_SIGNUP=true
PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS=true
PAPERLESS_DISABLE_REGULAR_LOGIN=true
PAPERLESS_REDIRECT_LOGIN_TO_SSO=true

# --------------------------------------------------
# Software tweaks
# --------------------------------------------------

PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
