smtp: {{ proxmox.notifications.target_name }}
        mailto {{ proxmox.notifications.mailto }}
        from-address {{ proxmox.notifications.from_address }}
        username {{ ansible_facts.infrastructure_secrets.smtp.user }}
        server {{ ansible_facts.infrastructure_secrets.smtp.host }}
        port {{ ansible_facts.infrastructure_secrets.smtp.port }}
        mode {{ proxmox.notifications.smtp_mode }}
        comment Managed by Ansible for HX Lab Proxmox hosts: {{ groups['proxmox'] | join(', ') }}

matcher: {{ proxmox.notifications.matcher_name }}
        match-severity {{ proxmox.notifications.match_severity | join(',') }}
        target {{ proxmox.notifications.target_name }}
        comment Managed by Ansible for HX Lab Proxmox hosts: {{ groups['proxmox'] | join(', ') }}
