# --------------------------------------------------
# PostgreSQL Settings
# --------------------------------------------------

AUTHENTIK_POSTGRESQL__HOST=postgres.internal.home.hovirix.dev
AUTHENTIK_POSTGRESQL__PORT=5432
AUTHENTIK_POSTGRESQL__USER=${authentik_bootstrap_username}
AUTHENTIK_POSTGRESQL__PASSWORD=${authentik_bootstrap_password}
AUTHENTIK_POSTGRESQL__NAME=authentik

# --------------------------------------------------
# Authentik Settings
# --------------------------------------------------

AUTHENTIK_SECRET_KEY=${authentik_secret_key}
AUTHENTIK_BOOTSTRAP_PASSWORD=${authentik_bootstrap_password}
AUTHENTIK_BOOTSTRAP_TOKEN=${authentik_bootstrap_token}
AUTHENTIK_BOOTSTRAP_EMAIL=${authentik_bootstrap_email}
