# --------------------------------------------------
# PostgreSQL Settings
# --------------------------------------------------

AUTHENTIK_POSTGRESQL__HOST=postgres.internal.home.hovirix.dev
AUTHENTIK_POSTGRESQL__PORT=5432
AUTHENTIK_POSTGRESQL__USER=<username>
AUTHENTIK_POSTGRESQL__PASSWORD=<password>
AUTHENTIK_POSTGRESQL__NAME=authentik

# --------------------------------------------------
# Authentik Settings
# --------------------------------------------------

AUTHENTIK_SECRET_KEY=${authentik.secret_key}
AUTHENTIK_BOOTSTRAP_PASSWORD=${authentik.bootstrap_password}
AUTHENTIK_BOOTSTRAP_TOKEN=${authentik.bootstrap_token}
AUTHENTIK_BOOTSTRAP_EMAIL=${authentik.bootstrap_email}
