[Container]
Image=ghcr.io/goauthentik/server@sha256:9acdd30afe91a0015e31d7fdfe118880197b4bc16be1d8645a809ac5d0d22fc1
Exec=server

EnvironmentFile=./authentik.env

HealthCmd=curl -fsS http://127.0.0.1:9000/-/health/ready/ || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
MemoryMax=1G
TasksMax=1024
LimitNOFILE=65536
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
