[Container]
Image=ghcr.io/dani-garcia/vaultwarden:1.36.0@sha256:d626d04934cd1192ad8ced1adb975099fca78cec33ab467d2d3c923cde7f3b0c

Environment=PUSH_ENABLED=true
Environment=PUSH_RELAY_URI=https://api.bitwarden.eu
Environment=PUSH_IDENTITY_URI=https://identity.bitwarden.eu
Environment=DOMAIN=https://vaultwarden.home.hovirix.dev
Environment=SIGNUPS_ALLOWED=false

Secret=postgres_vaultwarden_username,type=env,target=DB_USERNAME
Secret=postgres_vaultwarden_password,type=env,target=DB_PASSWORD
Secret=vaultwarden_installation_id,type=env,target=PUSH_INSTALLATION_ID
Secret=vaultwarden_installation_key,type=env,target=PUSH_INSTALLATION_KEY

Network=host

Volume=/srv/vaultwarden:/data:Z

[Service]
MemoryMax=512M
TasksMax=1024
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
