[Unit]
Description=Maintain off-site Borg repository
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=12h
TimeoutStartFailureMode=kill
TimeoutStopSec=30s
TimeoutStopFailureMode=kill
SuccessExitStatus=75
ExecStart=borgmatic prune
ExecStart=borgmatic compact
ExecStart=borgmatic check --force
