# --------------------------------------------------
# PostgreSQL | Admin
# --------------------------------------------------

POSTGRES_PASSWORD=${postgres.admin_password}

# --------------------------------------------------
# PostgreSQL | Application Roles
# --------------------------------------------------

POSTGRES_AUTHENTIK_USERNAME=${postgres.authentik.username}
POSTGRES_AUTHENTIK_PASSWORD=${postgres.authentik.password}

POSTGRES_GRAFANA_USERNAME=${postgres.grafana.username}
POSTGRES_GRAFANA_PASSWORD=${postgres.grafana.password}

POSTGRES_IMMICH_USERNAME=${postgres.immich.username}
POSTGRES_IMMICH_PASSWORD=${postgres.immich.password}

POSTGRES_PAPERLESS_USERNAME=${postgres.paperless.username}
POSTGRES_PAPERLESS_PASSWORD=${postgres.paperless.password}

POSTGRES_VAULTWARDEN_USERNAME=${postgres.vaultwarden.username}
POSTGRES_VAULTWARDEN_PASSWORD=${postgres.vaultwarden.password}
