# --------------------------------------------------
# PostgreSQL | Admin
# --------------------------------------------------

POSTGRES_PASSWORD=${postgres_admin_password}

# --------------------------------------------------
# PostgreSQL | Application Roles
# --------------------------------------------------

POSTGRES_AUTHENTIK_USERNAME=${postgres_authentik_username}
POSTGRES_AUTHENTIK_PASSWORD=${postgres_authentik_password}

POSTGRES_GRAFANA_USERNAME=${postgres_grafana_username}
POSTGRES_GRAFANA_PASSWORD=${postgres_grafana_password}

POSTGRES_IMMICH_USERNAME=${postgres_immich_username}
POSTGRES_IMMICH_PASSWORD=${postgres_immich_password}

POSTGRES_PAPERLESS_USERNAME=${postgres_paperless_username}
POSTGRES_PAPERLESS_PASSWORD=${postgres_paperless_password}

POSTGRES_VAULTWARDEN_USERNAME=${postgres_vaultwarden_username}
POSTGRES_VAULTWARDEN_PASSWORD=${postgres_vaultwarden_password}
