[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v2.7.5@sha256:a2501141440f10516d329fdfba2c68082e19eb9ba6016c061ac80d23beadf7f3

Network=host

Volume=immich-model-cache.volume:/cache

[Service]
MemoryMax=6G
TasksMax=4096
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
