[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v2.6.3@sha256:33b17015c3d14f2565e9b8cd36b48a70027b14b5cd20da7fbfff21a370b0309c

Network=host

Volume=immich-model-cache.volume:/cache

[Service]
MemoryMax=6G
TasksMax=4096
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
