[Unit]
Description=Vaultwarden quadlet

[Container]
Image=ghcr.io/dani-garcia/vaultwarden@sha256:43498a94b22f9563f2a94b53760ab3e710eefc0d0cac2efda4b12b9eb8690664

Network=apps.network
NetworkAlias=vaultwarden

# Environment=SIGNUPS_ALLOWED=false
Environment=DOMAIN=https://nemnix.site

Volume=vaultwarden-data.volume:/data:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
