[Container]
Image=docker.io/valkey/valkey@sha256:5d4340f477700346db6ee187d8dcb71d9a5ce9eccb423a216ce4340cb8982e2f

Exec=valkey-server --supervised systemd --appendonly yes --maxmemory 400mb --maxmemory-policy allkeys-lru

Network=host

HealthCmd=valkey-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
MemoryMax=512M
TasksMax=256
LimitNOFILE=65536
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
