[Unit]
Description=Create recursive ZFS snapshot of Docker Swarm data
After=zfs.target

[Service]
Type=oneshot
TimeoutStartSec=15min
TimeoutStartFailureMode=kill
TimeoutStopSec=30s
TimeoutStopFailureMode=kill
SuccessExitStatus=75
ExecStart=/usr/bin/flock -n -E 75 /run/swarm-zfs-snapshot.lock /usr/local/sbin/swarm-zfs-snapshot
