[Unit]
Description=Create recursive ZFS snapshot of Docker Swarm data

[Service]
Type=oneshot
ExecStart=/bin/bash -o pipefail -c '/usr/sbin/zfs snapshot -r "rpool/swarm@auto-$(/usr/bin/date +%%Y-%%m-%%d_%%H-%%M)" && /usr/sbin/zfs list -H -t snapshot -o name -s creation rpool/swarm | /usr/bin/awk "/^rpool\\/swarm@auto-/" | /usr/bin/head -n -24 | /usr/bin/xargs -r -n 1 /usr/sbin/zfs destroy -r'
