[Container]
Image=docker.io/cloudflare/cloudflared:2026.3.0@sha256:64f4e9d6a867f71d89ae3318460bb3c604923b4af62b1bc9e2f74ee7486e3052

Exec=tunnel --no-autoupdate run

Secret=cloudflared_tunnel_token,type=env,target=TUNNEL_TOKEN

Network=host

[Service]
MemoryMax=512M
TasksMax=2048
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
