[Container]
Image=docker.io/caddybuilds/caddy-cloudflare:2.11.3@sha256:79a418c615798b95d79b5856c15807d2815e048634bfadff138e9b5382b9f0b5

Secret=caddy_cloudflare_dns_token,type=env,target=CLOUDFLARE_API_TOKEN

Network=host

Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=caddy-data.volume:/data:Z
Volume=caddy-config.volume:/config:Z

[Service]
MemoryMax=512M
TasksMax=2048
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
