[Container]
Image=docker.io/valkey/valkey:9.0.3@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9

Exec=valkey-server --supervised systemd --appendonly yes --maxmemory 400mb --maxmemory-policy allkeys-lru

Secret=valkey_username,type=env,target=VALKEY_USERNAME
Secret=valkey_password,type=env,target=VALKEY_PASSWORD

Network=host

HealthCmd=valkey-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
MemoryMax=512M
TasksMax=256
LimitNOFILE=65536
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
