[Container]
Image=docker.io/valkey/valkey:9.0.1@sha256:138afc759e46b92d99b9eae76e1bc1203bb5dcac8579473a30102f38fd2c12fb

Exec=valkey-server --supervised systemd --appendonly yes --maxmemory 400mb --maxmemory-policy allkeys-lru

Secret=valkey_username,type=env,target=VALKEY_USERNAME
Secret=valkey_password,type=env,target=VALKEY_PASSWORD

Network=host

HealthCmd=valkey-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
MemoryMax=512M
TasksMax=256
LimitNOFILE=65536
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
