[Container]
Image=ghcr.io/goauthentik/server:2026.5.2@sha256:bf0a9740dc92a768595972e9e939e797a8b6f22d92be90f53a005c2af74eb722
Exec=worker

Environment=AUTHENTIK_POSTGRESQL__HOST=postgres.internal.home.hovirix.dev
Environment=AUTHENTIK_POSTGRESQL__PORT=5432
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik

Secret=postgres_authentik_username,type=env,target=AUTHENTIK_POSTGRESQL__USER
Secret=postgres_authentik_password,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=authentik_secret_key,type=env,target=AUTHENTIK_SECRET_KEY
Secret=authentik_bootstrap_token,type=env,target=AUTHENTIK_BOOTSTRAP_TOKEN
Secret=authentik_bootstrap_email,type=env,target=AUTHENTIK_BOOTSTRAP_EMAIL

Network=host

HealthCmd=ak healthcheck || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
MemoryMax=1G
TasksMax=1024
LimitNOFILE=65536
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
