[defaults]
collections_path = ./collections
inventory = inventories/production/hosts.yml
roles_path = ./roles

deprecation_warnings = False
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
