[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:2.20.15@sha256:6c86cad803970ea782683a8e80e7403444c5bf3cf70de63b4d3c8e87500db92f

Environment=PAPERLESS_URL=https://paperless.home.hovirix.dev
Environment=PAPERLESS_REDIS=redis://valkey.internal.home.hovirix.dev:6379/1
Environment=PAPERLESS_DBENGINE=postgresql
Environment=PAPERLESS_DBHOST=postgres.internal.home.hovirix.dev
Environment=PAPERLESS_DBPORT=5432
Environment=PAPERLESS_DBNAME=paperless
Environment=PAPERLESS_SOCIAL_AUTO_SIGNUP=true
Environment=PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS=true
Environment=PAPERLESS_DISABLE_REGULAR_LOGIN=true
Environment=PAPERLESS_REDIRECT_LOGIN_TO_SSO=true
Environment=PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect

Secret=postgres_paperless_username,type=env,target=PAPERLESS_DBUSER
Secret=postgres_paperless_password,type=env,target=PAPERLESS_DBPASS
Secret=paperless_secret_key,type=env,target=PAPERLESS_SECRET_KEY
Secret=paperless_socialaccount_providers,type=env,target=PAPERLESS_SOCIALACCOUNT_PROVIDERS

Network=host

Volume=/srv/paperless/data:/usr/src/paperless/data:Z
Volume=/srv/paperless/media:/usr/src/paperless/media:Z
Volume=/srv/paperless/export:/usr/src/paperless/export:Z
Volume=/srv/paperless/consume:/usr/src/paperless/consume:Z

[Service]
MemoryMax=2G
TasksMax=2048
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
