[Unit]
Description=Linkwarden Meilisearch quadlet

[Container]
Image=docker.io/getmeili/meilisearch@sha256:e0ffa3534f2a8e1691c687f3c087f2801b5e14b9ca57f0884280d4836bcdb0df

Secret=MEILI_MASTER_KEY,type=env,target=MEILI_MASTER_KEY

Network=apps.network
NetworkAlias=linkwarden-meilisearch

Volume=linkwarden-meili-data.volume:/meili_data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
