smtp: {{ pve.notifications.target_name }}
        mailto {{ pve.notifications.mailto }}
        from-address {{ pve.notifications.from_address }}
        username {{ ansible_facts.infrastructure_secrets.smtp.user }}
        server {{ ansible_facts.infrastructure_secrets.smtp.host }}
        port {{ ansible_facts.infrastructure_secrets.smtp.port }}
        mode {{ pve.notifications.smtp_mode }}
        comment Managed by Ansible for HX Lab Proxmox hosts: {{ groups['proxmox'] | join(', ') }}

matcher: {{ pve.notifications.matcher_name }}
        match-severity {{ pve.notifications.match_severity | join(',') }}
        target {{ pve.notifications.target_name }}
        comment Managed by Ansible for HX Lab Proxmox hosts: {{ groups['proxmox'] | join(', ') }}
