auto lo
iface lo inet loopback

iface {{ pve_node.network_interface }} inet manual

auto vmbr0
iface vmbr0 inet manual
    bridge-ports {{ pve_node.network_interface }}
    bridge-stp off
    bridge-fd 0
    bridge-vlan-aware yes
    bridge-vids {{ host.networking.allowed_vlans | map(attribute='id') | map('string') | join(' ') }}

auto vmbr0.{{ host.networking.management.vlan }}
iface vmbr0.{{ host.networking.management.vlan }} inet static
    address {{ pve_node.management_address }}
    gateway {{ host.networking.management.gateway }}
