[Unit]
After=immich-machine-learning.container
Wants=immich-machine-learning.container

[Container]
Image=ghcr.io/immich-app/immich-server@sha256:8b14246ee4c53e39191a54279f8c72f3eed3c026c5b23d0f7e4ab5e69e3aac4a

EnvironmentFile=./immich.env

Network=host

Volume=/var/lib/app-data/immich:/usr/src/app/upload:Z

[Service]
MemoryMax=6G
TasksMax=4096
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
