[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v1.102.3@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556

Network=host

Volume=immich-model-cache.volume:/cache

[Service]
MemoryMax=6G
TasksMax=4096
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
