# --------------------------------------------------
# Database
# --------------------------------------------------

DB_HOSTNAME=postgres.internal.home.hovirix.dev
DB_PORT=5432
DB_DATABASE_NAME=immich
DB_USERNAME=<username>
DB_PASSWORD=<password>
DB_VECTOR_EXTENSION=pgvector

# --------------------------------------------------
# Redis
# --------------------------------------------------

REDIS_HOSTNAME=valkey.internal.home.hovirix.dev
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DBINDEX=0
