# --------------------------------------------------
# Database
# --------------------------------------------------

DB_HOSTNAME=postgres.internal.home.hovirix.dev
DB_PORT=5432
DB_DATABASE_NAME=immich
DB_USERNAME=${postgres_immich_username}
DB_PASSWORD=${postgres_immich_password}
DB_VECTOR_EXTENSION=pgvector

# --------------------------------------------------
# Redis
# --------------------------------------------------

REDIS_HOSTNAME=valkey.internal.home.hovirix.dev
REDIS_PORT=6379
REDIS_USERNAME=${valkey_username}
REDIS_PASSWORD=${valkey_password}
REDIS_DBINDEX=0
