{
    admin off
    email hovirix@tutanota.com
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(security_headers) {
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        Permissions-Policy "geolocation=(), microphone=(), camera=()"
    }
}

authentik.home.hovirix.dev {
    encode zstd gzip
    import security_headers
    reverse_proxy http://prod-idp-01.home.hovirix.dev:9000
}

vaultwarden.home.hovirix.dev {
    encode zstd gzip
    import security_headers
    reverse_proxy http://prod-apps-01.home.hovirix.dev:8000
}

immich.home.hovirix.dev {
    encode zstd gzip
    import security_headers
    reverse_proxy http://prod-apps-01.home.hovirix.dev:2283
}

grafana.home.hovirix.dev {
    encode zstd gzip
    import security_headers
    reverse_proxy http://prod-monitoring-01.home.hovirix.dev:3000
}

paperless.home.hovirix.dev {
    encode zstd gzip
    import security_headers

    @admin path /admin*
    respond @admin 403

    reverse_proxy http://prod-apps-01.home.hovirix.dev:8000
}
