[Container]
Image=docker.io/caddybuilds/caddy-cloudflare@sha256:ca4994490b97c91d8cbce89ff9e3d3aa458e46fd489c43299bcca157a2ddd336

Network=host

EnvironmentFile=./caddy.env

Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=/var/lib/proxy-data/caddy/data:/data:Z
Volume=/var/lib/proxy-data/caddy/config:/config:Z

[Service]
MemoryMax=512M
TasksMax=2048
LimitNOFILE=262144
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
